@import url("normalize.css");

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: white
}


img,
iframe{
    max-width: 100%;
}


/* -------------------- HEADINGS AND TYPE */

h1 {
    background-color: rgb(246, 204, 204);
    color: rgb(15, 16, 16);
    font-size: 60px;
    font-family: sans-serif

}

h2 {
    font-size: 40px;
    font-family: sans-serif ;
}

h3 {
    font-size: 24px;
    font-family: sans-serif;
}




/* -------------------- LAYOUTS */

.layout-wide {
    background-color: rgb(200, 232, 219);

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */